<div class="content d-flex">
  <aside class="col-3">
    <div class="aside_section col-10 pb-4">
      <h4 class="fs-5">Marca</h4>
      <div class="scrolled_section">
        <mat-checkbox
          *ngFor="let brand of brands"
          class="col-12"
          [checked]="brandFilters.includes(brand)"
          (click)="filterByBrand(brand)"
          >{{ brand | uppercase }}</mat-checkbox
        >
      </div>
    </div>

    <div class="aside_section col-10 mt-4">
      <h4 class="fs-5">Precio</h4>
      <div>
        <span class="monto-seleccionado">
          {{ minSelectedAmount | currency : "EUR" : "symbol" : "1.2-2" }} a
          {{ maxSelectedAmount | currency : "EUR" : "symbol" : "1.2-2" }}
        </span>
        <mat-slider
          class="col-12"
          min="0"
          max="3000"
          ngDefaultControl
          step="100"
          (change)="onSliderChange()"
        >
          <input
            matSliderStartThumb
            class="col-12"
            [(ngModel)]="minSelectedAmount"
          />
          <input
            matSliderEndThumb
            class="col-12"
            [(ngModel)]="maxSelectedAmount"
          />
        </mat-slider>
      </div>
    </div>
  </aside>

  <div class="products col-9" *ngIf="!loading; else loadingSpinner">
    <mat-card *ngFor="let product of productsList" class="product">
      <a [routerLink]="['/product', product.slug]">
        <mat-card-content>
          <img
            [src]="product.images![0].image"
            *ngIf="product.images!.length === 1; else multipleImages"
            alt=""
            class="product-image"
          />
          <ng-template #multipleImages>
            <app-products-carousel
              (click)="$event.stopPropagation()"
              [productImages]="product.images!"
            ></app-products-carousel>
          </ng-template>
          <div>
            <div class="d-flex justify-content-between align-items-center">
              <p class="my-3 fs-3 color-accent fw-bold">€{{ product.price }}</p>
              <div>
                <mat-icon color="accent">favorite_outline</mat-icon>
                <mat-icon color="accent" class="d-none">favorite</mat-icon>
              </div>
            </div>
            <h4 class="">{{ product.brand }} {{ product.model }}</h4>
          </div>
        </mat-card-content>
      </a>
    </mat-card>
  </div>

  <ng-template #loadingSpinner>
    <div class="loading-spinner-container">
      <app-loading-spinner class="loading-spinner"></app-loading-spinner>
    </div>
  </ng-template>
</div>
