.change__auth {
  cursor: pointer;
}

.signup_column {
  width: 49%;
}
@media(min-width: 768px) {
  mat-card {
    width: 500px;
  }
}

@media(min-width: 1024px) {
  mat-card {
    width: 900px;
  }
}