<mat-card
  class="p-4 d-flex flex-column justify-content-center align-items-center"
>
  <h2 class="login fs-1 mb-5">Signup</h2>

  <form
    [formGroup]="signupForm"
    class="d-flex flex-column w-100 mb-3"
    (ngSubmit)="submit()"
  >
    <div class="d-flex w-100 mb-3 justify-content-between">
      <div class="signup_column">
        <mat-form-field class="w-100">
          <mat-label>Usuario</mat-label>
          <input matInput formControlName="username" />
          <mat-icon matPrefix>person_outline</mat-icon>
          <mat-error *ngIf="username.hasError('required')"
            >Este campo no puede ir vacío
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" />
          <mat-icon matPrefix>mail_outline</mat-icon>
          <mat-error *ngIf="email.hasError('required')"
            >Este campo no puede ir vacío
          </mat-error>
          <mat-error *ngIf="email.hasError('email')"
            >La dirección de email debe tener un formato válido</mat-error
          >
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" formControlName="password" />
          <mat-icon matPrefix>lock_outline</mat-icon>
          <mat-error *ngIf="password.hasError('required')"
            >Este campo no puede ir vacío
          </mat-error>
          <mat-error *ngIf="password.hasError('minlength')"
            >La contraseña debe tener al menos 8 caracteres
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label>Nombre</mat-label>
          <input matInput type="text" formControlName="first_name" />
          <mat-icon matPrefix>portrait</mat-icon>
          <mat-error *ngIf="first_name.hasError('required')"
            >Este campo no puede ir vacío
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label>Apellido</mat-label>
          <input matInput type="text" formControlName="last_name" />
          <mat-icon matPrefix>portrait</mat-icon>
          <mat-error *ngIf="last_name.hasError('required')"
            >Este campo no puede ir vacío
          </mat-error>
        </mat-form-field>
      </div>

      <div class="signup_column">
        <mat-form-field class="w-100">
          <mat-label>Fecha de Nacimiento</mat-label>
          <input
            matInput
            [matDatepicker]="dp3"
            formControlName="date_of_birth"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="dp3"
          ></mat-datepicker-toggle>
          <mat-datepicker #dp3 disabled="false"></mat-datepicker>
          <mat-icon matPrefix>home</mat-icon>
          <mat-error *ngIf="date_of_birth.hasError('required')"
            >Este campo no puede ir vacío
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label>Domicilio</mat-label>
          <input matInput type="text" formControlName="address" />
          <mat-icon matPrefix>home</mat-icon>
          <mat-error *ngIf="address.hasError('required')"
            >Este campo no puede ir vacío
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label>Ciudad/Estado</mat-label>
          <input matInput type="text" formControlName="city" />
          <mat-icon matPrefix>home</mat-icon>
          <mat-error *ngIf="city.hasError('required')"
            >Este campo no puede ir vacío
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label>País</mat-label>
          <input matInput type="text" formControlName="country" />
          <mat-icon matPrefix>home</mat-icon>
          <mat-error *ngIf="country.hasError('required')"
            >Este campo no puede ir vacío
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label>Teléfono</mat-label>
          <input matInput type="number" formControlName="phone" />
          <mat-icon matPrefix>phone_outline</mat-icon>
        </mat-form-field>
      </div>
    </div>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      class="mt-3 col-12 col-md-6 mx-auto"
    >
      Crear cuenta
    </button>
  </form>

  <span class="change__auth" (click)="changeAuthTypeEvent.emit()"
    >ir a Login</span
  >
</mat-card>
