mat-drawer-container {
  height: 100vh;
  position: relative;
  mat-drawer {
    position: fixed;
    top: 0;
    width: 80%;
    z-index: 10;
  }
}

.sidenav_title_container {
  height: 56px;

  .sidenav_title {
    letter-spacing: 2px;
  }

  .cancel-icon {
    cursor: pointer;
  }
}

.sidenav_content {
  &_option {
    text-decoration: none;
    cursor: pointer;
    transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -ms-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    &:hover {
      background-color: rgb(238, 238, 238);
    }
  }
}

@media(min-width: 768px) {
  mat-drawer-container {
    mat-drawer {
      width: 50%;
    }
  }

  .sidenav_title_container {
    height: 80px;

    .sidenav_title {
    
    }
  }
}

@media(min-width: 1024px) {
  mat-drawer-container {
    mat-drawer {
      width: 340px;
    }
  }
}