<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer
    #drawer
    class="sidenav"
    mode="side"
    mode="over"
    [opened]="isSidebarVisible"
  >
    <div
      class="sidenav_title_container d-flex justify-content-between align-items-center background-primary py-2 px-3 py-md-4 px-md-5 text-white fw-bold"
    >
      <h3 class="sidenav_title m-0">CATEGORIAS</h3>
      <mat-icon class="cancel-icon" (click)="toggleSidebar.emit(false)"
        >close</mat-icon
      >
    </div>
    <div class="sidenav_content">
      <div
        *ngFor="let option of sidebarOptions"
        class="sidenav_content_option p-2 py-md-3 px-md-5 d-flex justify-content-between align-items-center"
      >
        <p class="m-0">{{ option.text }}</p>
        <mat-icon>arrow_forward_ios</mat-icon>
      </div>
    </div>
  </mat-drawer>

  <mat-drawer-content
    [ngClass]="{ 'content-expanded': isSidebarVisible }"
    class="sidenav-content"
  >
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>
