mat-drawer-container {
  height: 100vh;
  position: relative;
  mat-drawer {
    position: fixed;
    top: 0;
    width: 80%;
    z-index: 10;
  }
}

.sidenav_title {
  height: 56px;
}

@media(min-width: 768px) {
  mat-drawer-container {
    mat-drawer {
      width: 50%;
    }
  }
}

@media(min-width: 1024px) {
  mat-drawer-container {
    mat-drawer {
      width: 340px;
    }
  }
}