<mat-card class="m-4">
  <mat-card-content>
    <div class="content">
      <h2 class="fs-3 mb-2">Mi carrito</h2>
      <p>{{ cart.totalQuantity }} artículos</p>

      <div class="d-flex justify-content-between">
        <div class="items_column" *ngIf="cart.totalQuantity; else noItems">
          <a
            *ngFor="let item of cart.allProducts"
            [routerLink]="['/product', item.product.slug]"
            class="item"
          >
            <mat-card class="mb-2 p-3">
              <mat-card-content class="d-flex align-items-start gap-4">
                <img
                  [src]="item.product.images![0].image"
                  [alt]="item.product.images![0].id"
                  class="product_image align-self-center"
                />
                <div>
                  <h3 class="fw-bold mb-2">
                    {{ item.product.brand }} {{ item.product.model }}
                  </h3>
                  <p class="fw-bold fs-5 color-accent">
                    €{{ item.product.price }}
                  </p>
                  <div>
                    <span
                      class="quantity_modifier p-1 d-flex align-items-center justify-content-around"
                      (click)="
                        $event.stopPropagation(); $event.preventDefault()
                      "
                    >
                      <mat-icon (click)="substractItem(item)">remove</mat-icon>
                      <p class="d-inline m-0">
                        {{ item.quantity }}
                      </p>
                      <mat-icon (click)="addItem(item)">add</mat-icon>
                    </span>
                  </div>
                  <p class="text-muted fst-italic mt-3">
                    Stock disponible: {{ item.product.quantity }}
                  </p>
                </div>
                <div class="delete_icon_container d-flex align-items-center">
                  <mat-icon
                    color="accent"
                    class="delete_icon"
                    (click)="
                      $event.stopPropagation();
                      $event.preventDefault();
                      removeItemFromCart(item)
                    "
                    >delete_outline</mat-icon
                  >
                </div>
              </mat-card-content>
            </mat-card>
          </a>
        </div>

        <ng-template #noItems>
          <div class="no_items">
            <span class="no_items-content">Carrito vacío</span>
          </div>
        </ng-template>

        <div class="buy_column" style="position: sticky; top: 0">
          <div class="d-flex justify-content-between">
            <p>Subtotal:</p>
            <p>€{{ cart.totalAmount | number : "1.0-2" }}</p>
          </div>
          <div class="d-flex justify-content-between">
            <p>Costo de envío:</p>
            <p>€0</p>
          </div>
          <hr class="w-100" />
          <div class="d-flex justify-content-between">
            <p>Total:</p>
            <p class="fw-bold fs-5 color-accent">
              €{{ cart.totalAmount + 0 | number : "1.0-2" }}
            </p>
          </div>
          <div>
            <button
              mat-raised-button
              color="accent"
              class="p-4 fs-6 col-12"
              [disabled]="cart.totalQuantity === 0"
              (click)="generateOrder()"
            >
              Comprar
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
