<div class="content">
  <h2 class="fs-3">Dashboard</h2>

  <mat-card class="col-12 mx-auto mt-5">
    <mat-card-content class="d-flex justify-content-around py-5">
      <div class="data">
        <span class="data_title">Artículos vendidos</span>
        <div class="data_chart data_chart-animation mt-3">180</div>
      </div>

      <div class="data">
        <span class="data_title">Órdenes pendientes</span>
        <div class="data_chart data_chart-animation mt-3">321</div>
      </div>

      <div class="data">
        <span class="data_title">Valor promedio de las órdenes</span>
        <div class="data_chart mt-3">€291</div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
