<div class="d-flex flex-column gap-2 mx-2 my-4 m-md-4">
  <div
    class="options-container d-flex align-items-center justify-content-center justify-content-md-start gap-2"
    *ngIf="!httpResponseError"
  >
    <a
      mat-flat-button
      color="accent"
      [routerLink]="[option.link]"
      class="d-flex align-items-center color-primary p-2 py-4"
      [ngClass]="{
        highlighted: option.highlighted,
        'background-primary': option.highlighted,
        'text-white': option.highlighted
      }"
      *ngFor="let option of adminOptions"
    >
      <fa-icon [icon]="option.icon" class="fs-2 w-100 h-100 me-1"></fa-icon>
      <p class="mb-0">
        {{ option.text }}
      </p>
    </a>
  </div>
  <div class="col-12">
    <router-outlet></router-outlet>
  </div>
</div>
