<div class="d-flex flex-column gap-2 content">
  <div
    class="options-container d-flex align-items-center px-3 py-2 gap-2"
    *ngIf="!httpResponseError"
  >
    <a
      [routerLink]="[option.link]"
      class="d-flex align-items-center color-primary"
      [ngClass]="{
        highlighted: option.highlighted,
        'background-primary': option.highlighted,
        'text-white': option.highlighted
      }"
      *ngFor="let option of adminOptions"
    >
      <mat-icon [matTooltip]="option.text" class="fs-2 w-100 h-100 me-1">{{
        option.icon
      }}</mat-icon>
      <p class="mb-0">
        {{ option.text }}
      </p>
    </a>
  </div>
  <div class="col-12">
    <router-outlet></router-outlet>
  </div>
</div>
