@use '../../../styles/palette.scss' as palette;

a {
  text-decoration: none;
}

.highlighted {
  // box-shadow: 0 0 10px rgb(24, 24, 52);
  border: 3px solid #2e3e4e;
}


::ng-deep {
  .mdc-button__label {
    display: flex !important;
    align-items: center !important;
  }
  .mat-mdc-form-field-infix
  {
    display: flex !important;
    flex-direction: row !important;
  }
}