.overlay {
  display: none;
  cursor: pointer;
}

.product_image {
  position: relative;
  cursor: pointer;
  height: 170px;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;

  &:hover {
    img {

      filter: brightness(70%);
    }

    .overlay {
      z-index: 100;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
}
}

  img {
    height: 100%;

  }


}