.overlay {
  cursor: pointer;
  z-index: 100;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);

  mat-icon {
    
  }
}

.image-deleted {

}

.product_image {
  position: relative;
  cursor: pointer;
  height: 170px;


  img {
    height: 100%;
  }


}