mat-card {
  box-shadow: 2px 2px 10px 2px rgb(216, 216, 216);
}

.check_icon {
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.single_image {
  width: 550px;
  height: 450px;
}