<div>
  <app-hero-carousel></app-hero-carousel>

  <div
    class="quick-info-items my-3 my-md-2 d-flex flex-row flex-md-nowrap justify-content-between align-items-start overflow-scroll"
  >
    <div
      *ngFor="let item of quickInfoItems"
      class="col-5 col-md-3 d-flex flex-column align-items-center"
    >
      <mat-icon class="material-icons-outlined">{{ item.icon }}</mat-icon>
      <div class="text-center">
        <p class="m-0 quick-info-text">{{ item.text | uppercase }}</p>
      </div>
    </div>
  </div>
</div>
