mat-icon {
  font-size: 3rem;
  height: 3rem;
  width: 50px;
}

.quickInfoText {
  font-size: .8rem;
  text-wrap: wrap;
}

.content {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
}

@media(min-width: 768px) {
  .content {
    padding: 8px 50px !important;
  }
}