mat-icon {
  font-size: 3rem;
  height: 3rem;
  width: 50px;
}

.quick-info-items {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  }
  
  .quick-info-text {
    font-size: .8rem;
    text-wrap: wrap;
  }
}

@media(min-width: 768px) {
  .quick-info-items {
    padding: 8px 50px !important;
  }
}