<div class="profile-container">
  <div class="user_data">
    <h2 class="fs-1 username">
      {{ user.username }}
    </h2>

    <div class="mt-4">
      <p>
        Nombre completo:
        <span> {{ user.first_name }} {{ user.last_name }} </span>
      </p>
      <p>
        Correo electrónico:
        <span>
          {{ user.email }}
        </span>
      </p>
      <p>
        Domicilio:
        <span>
          {{ user.address }}
        </span>
      </p>
      <p>
        Ciudad:
        <span>
          {{ user.city }}
        </span>
      </p>
      <p>
        País:
        <span>
          {{ user.country }}
        </span>
      </p>
      <p>
        Celular: <span>{{ user.phone }}</span>
      </p>
    </div>
  </div>
</div>
