$primary: (
    50 : #e6e8ea,
    100 : #c0c5ca,
    200 : #979fa7,
    300 : #6d7883,
    400 : #4d5b69,
    500 : #2e3e4e,
    600 : #293847,
    700 : #23303d,
    800 : #1d2835,
    900 : #121b25,
    A100 : #67aeff,
    A200 : #3493ff,
    A400 : #0177ff,
    A700 : #006be6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$accent: (
    50 : #fdeae4,
    100 : #f9cabc,
    200 : #f6a790,
    300 : #f28363,
    400 : #ef6941,
    500 : #ec4e20,
    600 : #ea471c,
    700 : #e73d18,
    800 : #e43513,
    900 : #df250b,
    A100 : #ffffff,
    A200 : #ffdad6,
    A400 : #ffaba3,
    A700 : #ff948a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);