@use '../../../styles/palette.scss' as palette;

.user-display-container {
  background-color: map-get(palette.$primary, 200);
  padding: 2px 15px;
  cursor: pointer;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -ms-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;

  &:hover {
    box-shadow: 0px 0px 2px 1px map-get(palette.$primary, 100);
  }
  
  img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
  }
}

::ng-deep {
  .mat-mdc-menu-content {
    padding: 0 !important;
  }

  .logout_btn.mat-mdc-menu-item:not([disabled]):hover {
    color: white !important;
    background-color: rgb(255, 56, 56) !important;

  }
}

.logout_btn {
  background-color: red;
  color: white;
  transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -ms-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;

  .logout_icon {
    color: white;
  }
}

a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}