<button class="p-0" mat-button [matMenuTriggerFor]="menu" *ngIf="user">
  <div class="user-display-container d-flex align-items-center gap-2">
    <mat-icon>person_outline</mat-icon>
    <p class="m-0">{{ user.username }}</p>
  </div>
</button>

<mat-menu #menu="matMenu">
  <a mat-menu-item class="profile_btn" [routerLink]="['profile']">Mi perfil</a>
  <a
    mat-menu-item
    class="admin_btn"
    *ngIf="isAdmin"
    [routerLink]="['admin/dashboard']"
    >Admin</a
  >
  <button mat-menu-item class="logout_btn" (click)="logout()">
    <mat-icon class="logout_icon me-1">logout</mat-icon> Cerrar Sesión
  </button>
</mat-menu>

<a *ngIf="!user" [routerLink]="['/login']"> Iniciar Sesión </a>
