<div [id]="'carousel_' + productImages[0].id" class="carousel slide">
  <div class="carousel-inner">
    <div
      *ngFor="let item of productImages; let i = index"
      class="carousel-item text-center"
      [class.active]="i === 0"
      [id]="'slide_' + i"
    >
      <img
        [src]="item.image"
        alt="product_img"
        class="product-image"
        [ngClass]="{ 'w-100': hasFullWidth, 'h-100': hasFullWidth }"
        [style.width]="imageWidth"
        [style.height]="imageHeight"
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    [attr.data-bs-target]="'#carousel_' + productImages[0].id"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    [attr.data-bs-target]="'#carousel_' + productImages[0].id"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

  <!-- <ng-container *ngIf="showSmallImagesBelow">
    <div class="d-flex gap-2 flex-wrap justify-content-center my-3">
      <button
        class="border-0"
        *ngFor="let productImage of productImages; let i = index"
        [attr.data-bs-target]="'#carousel_' + productImages[i].id"
        data-bs-slide-to="`slide_ ${i}`"
      >
        <img
          [src]="productImage.image"
          alt="product_img"
          class="mini-image py-1"
        />
      </button>
    </div>
  </ng-container> -->
</div>
