.login__container, .signup__container {
  width: 90%;
  margin: auto;
  
}

@media(min-width: 768px) {
  .login__container, .signup__container {
    width: 500px;
  }
}

@media(min-width: 1024px) {
  .login__container, .signup__container {
    width: 600px;
  }
}