<div class="content">
  <div class="mx-auto d-flex justify-content-between mb-4">
    <h2 class="fs-3">Productos</h2>

    <div>
      <button mat-flat-button color="accent" (click)="openFormModal()">
        <mat-icon class="m-0"> add </mat-icon>
        <p class="mb-0 ms-2">Agregar producto</p>
      </button>
    </div>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Categoría</mat-label>
      <mat-select
        [(ngModel)]="category"
        (ngModelChange)="onCategoryChange($event)"
      >
        <mat-option
          *ngFor="let category of productCategories"
          [value]="category.value"
        >
          {{ category.text }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="productsList.length; else noProducts">
    <div class="mx-auto">
      <table mat-table [dataSource]="pagedProductsList">
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef class="fw-bold">Producto</th>
          <td mat-cell *matCellDef="let element" class="col-6">
            {{ element.brand }} {{ element.model }}
          </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef class="fw-bold">Precio</th>
          <td mat-cell *matCellDef="let element" class="col-2">
            €{{ element.price }}
          </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef class="fw-bold">Cantidad</th>
          <td mat-cell *matCellDef="let element" class="col-2">
            {{ element.quantity }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="text-center">
            Opciones
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="actions-column text-center"
          >
            <button
              mat-flat-button
              class="p-0 ms-1"
              color="accent"
              (click)="openProductModal(element)"
            >
              <mat-icon class="m-0">info</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>

    <mat-paginator
      #paginator
      showFirstLastButtons
      [length]="productsList.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page"
      (page)="onPageChange($event)"
    ></mat-paginator>
  </div>

  <ng-template #noProducts>
    <h3 class="mt-md-5">
      No hay productos de esta categoría cargados en el sistema.
    </h3>
  </ng-template>
</div>
