<section class="bg-white py-5">
  <p class="fs-2 pb-3 fw-bold content py-0">Productos destacados</p>

  <div class="carousel-container col-12 pb-4">
    <div
      [id]="'multi-item-carousel'"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner py-2 col-10 mx-auto">
        <ng-container *ngFor="let chunk of productsChunks; let i = index">
          <div class="carousel-item" [class.active]="i === 0">
            <div class="row justify-content-between col-10 mx-auto">
              <a
                *ngFor="let product of chunk"
                class="col-md-6 col-lg-4 text-decoration-none product_link"
                [routerLink]="['/product', product.slug]"
              >
                <mat-card class="col-12">
                  <mat-card-content class="d-flex flex-column">
                    <div class="text-center">
                      <img
                        [src]="product.images![0].image"
                        alt=""
                        class="product-image mx-auto"
                      />
                      <ng-template #multipleImages>
                        <app-products-carousel
                          (click)="$event.stopPropagation()"
                          [productImages]="product.images!"
                        ></app-products-carousel>
                      </ng-template>
                    </div>
                    <div>
                      <div
                        class="d-flex justify-content-between align-items-center"
                      >
                        <p class="my-3 fs-3 color-accent fw-bold">
                          €{{ product.price }}
                        </p>
                      </div>
                      <h4 class="">{{ product.brand }} {{ product.model }}</h4>
                    </div>
                  </mat-card-content>
                </mat-card>
              </a>
            </div>
          </div>
        </ng-container>
      </div>

      <button
        class="carousel-control-prev"
        type="button"
        [attr.data-bs-target]="'#multi-item-carousel'"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        [attr.data-bs-target]="'#multi-item-carousel'"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
