@use './styles/palette.scss' as palette;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

html, body { height: 100%; }
body { margin: 0; }

* {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p, a, button, span, div {
  font-family: Poppins, sans-serif !important;
}

p {
  font-size: 1rem;
}

.mat-toolbar {
  height: 80px !important;
}

main {
  min-height: calc(100svh - 80px - 340px);
}


::-webkit-scrollbar {
  width: 10px;
}

/* Estilo del thumb de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: map-get(palette.$primary, 200);
  border-radius: 5px;
}

/* Estilo del track de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

// CONTENT CONTAINER
.content {
  padding: 24px 8px;
}

.card-content {
  padding: 16px !important;
}

// THEME COLOR VARIABLES
.background-primary {
  background-color: map-get(palette.$primary, 500);
}

.background-accent {
  background-color: map-get(palette.$accent, 500);
}

.color-primary {
  color: map-get(palette.$primary, 500);
}

.color-accent {
  color: map-get(palette.$accent, 500);
}

// INPUTS
.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled {
  border-radius: 30px !important;
  -webkit-border-radius: 30px !important;
  -moz-border-radius: 30px !important;
  -ms-border-radius: 30px !important;
  -o-border-radius: 30px !important;
}

.mat-form-field-appearance-fill .mdc-line-ripple {
  display: none;
}

// NOTIFICATION
.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: unset !important;
}

.notification-success {
  background-color: #4caf50 !important;
  font-size: 4rem;
}

// CARDS
::ng-deep {
  .mat-mdc-card-content {
  padding: 100px !important;  
  }
}

.cdk-overlay-pane#cdk-overlay-0 {
  max-width: 100% !important;
}

// MEDIA QUERIES
@media(width >= 768px) {
  .content {
    padding: 35px 60px !important;
  }
}

@media(width >= 1024px) {
  .card-content {
    padding: 24px 30px !important;
  }
}