<div class="dialog">
  <h2 mat-dialog-title class="fs-3">Editar usuario</h2>
  <form [formGroup]="editUserForm" (submit)="submit()">
    <div
      mat-dialog-content
      class="d-flex flex-column flex-md-row justify-content-between w-100"
    >
      <div class="form_column">
        <div class="d-flex align-items-center mb-2">
          <mat-icon>person_outline</mat-icon>
          <h3 class="fw-bold d-inline mb-0">Datos personales</h3>
        </div>
        <mat-form-field [autofocus]="false" class="col-12">
          <mat-label>Nombre</mat-label>
          <input type="text" matInput formControlName="first_name" />
          <mat-error *ngIf="first_name.hasError('required')"
            >Este campo no puede ir vacío</mat-error
          >
        </mat-form-field>

        <mat-form-field [autofocus]="false">
          <mat-label>Apellido</mat-label>
          <input type="text" matInput formControlName="last_name" />
          <mat-error>Este campo no puede ir vacío</mat-error>
        </mat-form-field>

        <mat-form-field [autofocus]="false">
          <mat-label>Fecha de Nacimiento</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="date_of_birth"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="form_column">
        <div class="d-flex align-items-center mb-2">
          <mat-icon>location_on</mat-icon>
          <h3 class="fw-bold d-inline mb-0">Datos de envío</h3>
        </div>
        <mat-form-field [autofocus]="false">
          <mat-label>Domicilio</mat-label>
          <input type="text" matInput formControlName="address" />
        </mat-form-field>

        <mat-form-field [autofocus]="false">
          <mat-label>Ciudad</mat-label>
          <input type="text" matInput formControlName="city" />
        </mat-form-field>

        <mat-form-field [autofocus]="false">
          <mat-label>País</mat-label>
          <mat-select formControlName="country">
            <mat-option
              *ngFor="let country of countries"
              [value]="country.name"
            >
              {{ country.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field [autofocus]="false">
          <mat-label>Teléfono</mat-label>
          <input type="text" matInput formControlName="phone" />
        </mat-form-field>
      </div>
    </div>

    <div mat-dialog-actions class="d-flex justify-content-end gap-2">
      <button mat-flat-button mat-dialog-close type="button">Cancelar</button>
      <button mat-raised-button color="primary" type="submit">
        Confirmar cambios
      </button>
    </div>
  </form>
</div>
